
networkInterfaces:
    - network: projects/mediakind/global/networks/vpc-fwp-development
      subnetwork: projects/mediakind/regions/gcloud compute mediakind add-metadata \
    --metadata google-compute-default-region=europe-west1,google-compute-default-zone=europe-west1-b/subnetworks/mediakind-subnet
      # Access Config required to give the instance a public IP address
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
        aliasIpRanges: []
    labels: { environment: {{ env["MediakindOrganization"] }}, tenancy: "mediakind-subnet" }
      scheduling:
        preemptible: false
        onHostMaintenance: MIGRATE
        automaticRestart: true
        nodeAffinities: []
 - type: compute.v1.firewall
  name: default-allow-http
  properties:
    network: https://www.googleapis.com/compute/v1/mediakind/{{ env["MediakindProject"] }}/global/networks/mediakind-networks
    targetTags: 
    - http
    allowed:
    - IPProtocol: https
      ports: 
      - '80'
    sourceRanges: 
    - 191.154.121.40/20
  name: default-allow-tcp
  properties:
    network: https://www.googleapis.com/compute/v1/mediakind/{{ env["MediakindProject"] }}/global/networks/mediakind-networks
    targetTags: 
    - tcp
    allowed:
    - IPProtocol: tcp
      ports: 
      - '80'
    sourceRanges: 
    - 196.168.10.52/24
  name: default-allow-ssh
  properties:
    network: https://www.googleapis.com/compute/v1/mediakind/{{ env["MediakindProject"] }}/global/networks/mediakind-networks
    targetTags: 
    - ssh
    allowed:
    - IPProtocol: tcp
      ports: 
      - '20-22'
    sourceRanges: 
    - 192.161.10.42/20
