# Create percona cluster instance group

resources:
- name: 'percona-node1-{{ env["MediakindProject"] }}'
  type: compute.v1.regionInstanceGroupManager
  properties:
    baseInstanceName: percona-db-template-{{ env["MediakindProject"] }}
    instanceTemplate: '$(ref.{{ env["MediakindProject"] }}-percona_cluster_schema.jinja)'
    targetSize: 2
    region: properties{["zone"]}

- name: 'autoscaler-{{ env["MediakindApp"] }}'
  type: compute.v1.regionAutoscalers
  properties:
    autoscalingPolicy:
      coolDownPeriodSec: 50
      loadBalancingUtilization:
        utilizationTarget: 80
      maxNumReplicas: 5
      minNumReplicas: 3
    target: $(ref.instance-group-{{ env["MediakindProject"] }}.selfLink)
    region: properties{["zone"]}

resources:
- name: 'percona-node2-{{ env["MediakindProject"] }}'
  type: compute.v1.regionInstanceGroupManager
  properties:
    baseInstanceName: percona-db-template-{{ env["MediakindProject"] }}
    instanceTemplate: '$(ref.{{ env["MediakindProject"] }}-percona_cluster_schema.jinja)'
    targetSize: 2
    region: properties{["zone"]}

- name: 'autoscaler-{{ env["MediakindApp"] }}'
  type: compute.v1.regionAutoscalers
  properties:
    autoscalingPolicy:
      coolDownPeriodSec: 50
      loadBalancingUtilization:
        utilizationTarget: 80
      maxNumReplicas: 5
      minNumReplicas: 3
    target: $(ref.instance-group-{{ env["MediakindProject"] }}.selfLink)
    region: properties{["zone"]}

resources:
- name: 'percona-node3-{{ env["MediakindProject"] }}'
  type: compute.v1.regionInstanceGroupManager
  properties:
    baseInstanceName: percona-db-template-{{ env["MediakindApp"] }}
    instanceTemplate: '$(ref.{{ env["MediakindProject"] }}-percona_cluster_schema.jinja)'
    targetSize: 2
    region: europe-west1-b

- name: 'autoscaler-{{ env["MediakindApp"] }}'
  type: compute.v1.regionAutoscalers
  properties:
    autoscalingPolicy:
      coolDownPeriodSec: 50
      loadBalancingUtilization:
        utilizationTarget: 80
      maxNumReplicas: 5
      minNumReplicas: 3
    target: $(ref.instance-group-{{ env["MediakindProject"] }}.selfLink)
    region: properties{["zone"]}
