{#
Copyright 2017 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
resources:
- name: {{ env['MediakindProject'] }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['mkappuser@gmail.com'] }}
    displayName: serviceAccount-{{ env['MediakindUser/compute.admin'] }}

resources:
- name: {{ properties['MediaKindDev'] }}
type: gcp-types/cloudresourcemanager-v2:mediakindDev
properties:
{% if properties['MediakindProject'] == "yes" %}
parent: MediakindOrganization/{{ properties['orgid'] }}
{% else %}
parent: mediakindDev/{{ properties['parentfolderid'] }}
{% endif %}
displayName: {{ properties['MediaKindDev'] }}

resources:
- name: {{ env['MediakindAdmin'] }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['mkorguser@gmail.com'] }}
    displayName: serviceAccount-{{ env[MediakindAdmin'] }}


resources:
- name: {{ properties['MediaKindAdmin'] }}
type: gcp-types/cloudresourcemanager-v2:mediakindorgAdmin
properties:
{% if properties['MediakindProject'] == "yes" %}
parent: MediakindProject/{{ properties['orgid'] }}
{% else %}
parent: MediaKindAdmin/{{ properties['parentfolderid'] }}
{% endif %}
displayName: {{ properties['MediakindAdmin'] }}

resources:
- name: {{ env['MediakindAdmin'] }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['mkappuser@gmail.com'] }}
    displayName: serviceAccount-{{ env['mediakindappAdmin'] }}


resources:
- name: {{ properties['MediakindApp'] }}
type: gcp-types/cloudresourcemanager-v2:mediakindappAdmin
properties:
{% if properties['MediakindProject'] == "yes" %}
parent: MediakindOrganization/{{ properties['orgid'] }}
{% else %}
parent: MediakindApp/{{ properties['parentfolderid'] }}
{% endif %}
displayName: {{ properties['mediakindApp'] }}

resources:
- name: {{ env['MediakindNetwork'] }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['mkappnw@gmail.com'] }}
    displayName: serviceAccount-{{ env['mediakindnetworkAdmin'] }}

resources:
- name: {{ properties['MediakindNetwork'] }}
type: gcp-types/cloudresourcemanager-v2:mediakindnetworkAdmin
properties:
{% if properties['MediakindProject'] == "yes" %}
parent: MediakindProject/{{ properties['orgid'] }}
{% else %}
parent: MediakindNetwork/{{ properties['parentfolderid'] }}
{% endif %}
displayName: {{ properties['MediakindNetwork'] }}
