
resources:
- name: {{ env["MediakindNetwork"] }}
  type: compute.v1.subnetwork
  properties:
    ipCidrRange: {{ properties["ipCidrRange"]}}
    network: {{ properties["network"]}}
    region: {{ properties["region"]}}
